<html>
<body>
<script language=javascript>
window.open('https://graph.facebook.com/oauth/authorize?client_id=104425026288823&redirect_uri=http://telephone.heroku.com/oauth/callback&scope=', '_parent', '')
</script>
</body>
</html>